.plant-layout{

display:grid;

grid-template-columns:450px 1fr;

gap:60px;

align-items:center;

padding:100px 0;

}

.plant-image img{

width:100%;

border-radius:25px;

border:2px solid #D4AF37;

}

.plant-info h1{

font-size:3rem;

color:#D4AF37;

margin-bottom:10px;

}

.plant-info h3{

font-style:italic;

color:#9FB3A7;

margin-bottom:30px;

}

.plant-info p{

line-height:1.9;

margin-bottom:20px;

color:#D1D8D3;

}

@media(max-width:900px){

.plant-layout{

grid-template-columns:1fr;

}

}